@import url(./global.css);
@import url(./dev_navbar.css);

.contactUs{
    color: var(--primary_color) !important;
}

.querry_form input,.querry_form textarea,.querry_form select{
    box-shadow: none !important;
    border-radius: 3px;
    font-weight: 500;
    font-size: 13px;
}
#submit_btn{
    background: var(--primary_color);
    color: white;
    border-radius: 2px;
    width: 100%;
    margin-top: 13px !important;
}

.contact_details_wrapper{
    display: flex;
    gap: 10px;
    margin: 0;
}
.cont_details_img{
    height: 25px;
    width: auto;
    padding-top: 4px;
}
.contact_detail{
    font-size: 15px;
    font-weight: 550;
}
.social_media_img{
    height: 25px;
}